[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"

[packages]
requests = "*"
pytest = "*"
pytest-cov = "*"
pytest-pep8 = "*"
numpy = "*"
autopep8 = "*"

[requires]
python_version = "3.7"
